.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-2xl);
  margin-block: var(--spacing-2xl);
  padding-top: var(--spacing-6xl);
}

.column:first-child {
  display: grid;
  justify-items: center;
  gap: var(--spacing-sm);

  /* border: 2px solid lime; */
}

.information {
  display: grid;
  gap: var(--spacing-sm);
  font-size: var(--font-size-lg);
  color: var(--color-light-500);
}

.name {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}

.img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 3px solid var(--color-light-500);
  margin-bottom: var(--spacing-lg);
}

.stats {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  display: flex;
  gap: var(--spacing-xl);
}

.stats > p {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.introduction,
.education,
.appointment {
  padding-top: var(--spacing-2xl);
}

.introduction > h2,
.education > h2,
.appointment > h2 {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-secondary);
  font-size: var(--font-size-xl);
  padding-bottom: var(--spacing-sm);
}

.login {
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-primary-400);
}

.appointmentBtn {
  font-size: var(--font-size-2xl);
  display: flex;
  background-color: var(--color-accent-primary-400);
  color: var(--color-light-400);
  border-radius: 50%;
  border: 0;
  padding: var(--spacing-md);
  cursor: pointer;
  outline: 0;
}

.appointmentBtn:hover,
.appointmentBtn:focus {
  background-color: var(--color-accent-primary-500);
  color: var(--color-light-500);
}

@media screen and (min-width: 48em) {
  .grid {
    grid-template-columns: 8fr 4fr;
    align-items: start;
  }

  .column:first-child {
    text-align: start;
    justify-items: start;
    align-content: start;
    padding: var(--spacing-3xl);
    border-radius: 12px;
    background-color: var(--color-dark-500);
  }

  .information {
    max-width: 30rem;
  }
}
