.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: var(--spacing-2xl);
  margin-block: var(--spacing-2xl);
}

.column {
  border-radius: var(--border-radius);
}

.column:first-child {
  background-color: var(--color-dark-400);
  display: grid;
  text-align: center;
  justify-items: center;
  gap: var(--spacing-xl);
}

.img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.stats {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semibold);
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-2xl);
}

.stats > p {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.login {
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-primary-400);
}

@media screen and (min-width: 48em) {
  .grid {
    grid-template-columns: 8fr 4fr;
    align-items: start;
  }

  .column:first-child {
    text-align: start;
    justify-items: start;
    align-content: start;
    padding: var(--spacing-2xl);
  }
  /* 
  .column:last-child {
    padding: var(--spacing-2xl);
  } */
}
