/* ==================== */
/* SERVICES             */
/* ==================== */
.services {
  display: grid;
  justify-items: center;
  gap: var(--spacing-500);
  text-align: center;
  margin-block: var(--spacing-900);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-500);
}

.allBtn {
  width: 10rem;
  margin-top: var(--spacing-600);
}

@media screen and (min-width: 48em) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
