/* ==================== */
/* SERVICES             */
/* ==================== */
.services {
  display: grid;
  justify-items: center;
  gap: var(--spacing-lg);
  text-align: center;
  margin-block: var(--spacing-6xl);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-2xl);
  margin-top: var(--spacing-2xl);
}

.allBtn {
  width: 10rem;
  margin-top: var(--spacing-3xl);
}

.titleSm {
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: var(--font-weight-semibold);
  color: var(--color-accent-secondary-400);
}

@media screen and (min-width: 48em) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
