.grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: var(--spacing-600);
  margin-block: var(--spacing-900);
}

.column:last-child {
  display: grid;
  gap: var(--spacing-400);
  justify-items: center;
}

@media screen and (min-width: 48em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .column:last-child {
    gap: var(--spacing-400);
    justify-items: start;
    align-content: center;
    text-align: start;
  }

  .img {
    width: 30rem;
  }
}
