.loginContainer {
  display: grid;
  background-color: var(--color-dark-500);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.loginContainer::after {
  content: '';
  display: block;
  position: fixed;
  background: var(--background-gradient);
  height: 100%;
  width: 100%;
}

.login {
  margin-top: var(--spacing-6xl);
  display: grid;
  align-content: center;
  gap: var(--spacing-md);
  text-align: center;
  background-color: var(--color-dark-500);
  padding: var(--spacing-3xl) var(--spacing-xl);
  border-radius: 12px;
  z-index: 5;
}

.title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
}

.text {
  font-size: var(--font-size-400);
  color: rgba(255, 255, 255, 0.75);
  width: 80%;
  margin-inline: auto;
  padding-bottom: var(--spacing-md);
}

.altLoginText {
  padding-top: var(--spacing-2xl);
  padding-bottom: var(--spacing-lg);
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: var(--spacing-lg);
  padding-bottom: var(--spacing-2xl);
}

.altLoginButton {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  background-color: transparent;
  color: var(--color-light-300);
  border: 2px solid rgba(255, 255, 255, 0.35);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-md) var(--spacing-2xl);
  border-radius: var(--border-radius);
}

.registerText > button {
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-primary-400);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.errorMessage {
  background-color: hsla(0, 100%, 50%, 0.25);
  border: 2px solid hsla(0, 100%, 50%, 0.75);
  border-radius: 8px;
  padding: var(--spacing-lg);
  text-align: start;
  margin-top: var(--spacing-lg);
}

@media screen and (min-width: 22em) {
  .loginContainer {
    place-content: center;
    background-image: url('../../assets/images/login-bg.jpg');
    background-color: var(--color-dark-500);
  }

  .login {
    max-width: 30rem;
    padding: var(--spacing-5xl) var(--spacing-5xl);
  }
}
