.loginContainer {
  display: grid;
  background-color: var(--clr-dark-500);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.loginContainer::after {
  content: '';
  display: block;
  position: fixed;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.65;
}

.login {
  margin-top: var(--spacing-900);
  display: grid;
  align-content: center;
  gap: var(--spacing-200);
  text-align: center;
  background-color: var(--clr-dark-500);
  padding: var(--spacing-600) var(--spacing-400);
  border-radius: 12px;
  z-index: 5;
}

.title {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
}

.text {
  font-size: var(--fs-400);
  color: rgba(255, 255, 255, 0.75);
  width: 80%;
  margin-inline: auto;
  padding-bottom: var(--spacing-200);
}

.altLoginText {
  padding-top: var(--spacing-500);
  padding-bottom: var(--spacing-300);
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: var(--spacing-300);
  padding-bottom: var(--spacing-500);
}

.altLoginButton {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
  background-color: transparent;
  color: var(--clr-light-300);
  border: 2px solid rgba(255, 255, 255, 0.35);
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  padding: var(--spacing-200) var(--spacing-500);
  border-radius: var(--border-radius);
}

.registerText > button {
  font-weight: var(--fw-bold);
  color: var(--clr-accent-primary-400);
  background-color: transparent;
  border: 0;
}

.errorMessage {
  background-color: hsla(0, 100%, 50%, 0.25);
  border: 2px solid hsla(0, 100%, 50%, 0.75);
  border-radius: 8px;
  padding: var(--spacing-300);
  text-align: start;
  margin-top: var(--spacing-300);
}

@media screen and (min-width: 22em) {
  .loginContainer {
    place-content: center;
    background-image: url('../../assets/images/login-bg.jpg');
    background-color: var(--clr-dark-500);
  }

  .login {
    max-width: 30rem;
    padding: var(--spacing-800) var(--spacing-800);
  }
}
