.newsletter {
  background-image: var(--gradient);
  border-radius: var(--border-radius);
  display: grid;
  justify-content: center;
  text-align: center;
  gap: var(--spacing-xl);
  padding-block: var(--spacing-5xl);
  margin-block: var(--spacing-6xl);
}

.form {
  display: flex;
  justify-content: center;
}

.input {
  padding: var(--spacing-md);
  border: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  width: 60%;
}

.input:hover,
.input:focus {
  outline: 0;
}

.btn {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border: 0;
  padding: var(--spacing-md) var(--spacing-xl);
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-400);
}
