.blog {
  padding: var(--spacing-6xl);
}

.title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--spacing-lg);
}

.text {
  margin-bottom: var(--spacing-3xl);
}
