.addReview {
  margin-block: var(--spacing-xl);
}

.textarea {
  width: 100%;
  min-height: 12rem;
  background-color: var(--color-dark-500);
  border-radius: 12px;
  resize: none;
  color: var(--color-light-400);
  padding: var(--spacing-lg);
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.textarea:focus,
.textarea:hover {
  border: 2px solid rgba(255, 255, 255, 0.2);
  /* border-color: var(--color-accent-primary-400); */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm);
}

.rating {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.ratingBtn {
  display: flex;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--color-light-500);
  font-size: var(--font-size-2xl);
  cursor: pointer;
}

.ratingBtn[data-marked='true'] {
  color: hsl(52, 100%, 60%);
}

.addReview button:disabled {
  opacity: 0.85;
}
