.myReviews {
  display: grid;
  gap: var(--spacing-400);
  justify-items: center;
  text-align: center;
  margin-block: var(--spacing-800);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: var(--spacing-400);
}

.text {
  font-size: 1.5rem;
  margin-block: 2rem;
  font-weight: var(--fw-semibold);
}

@media screen and (min-width: 40em) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
