.reviewCard {
  display: grid;
  gap: var(--spacing-sm);
  background-color: var(--color-dark-500);
  border-radius: 12px;
  padding: var(--spacing-xl);
  text-align: start;
}

.header {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  padding-bottom: var(--spacing-xl);
}

.header > button {
  margin-left: auto;
  display: flex;
  background-color: var(--color-dark-300);
  color: var(--color-light-300);
  border: 0;
  outline: 0;
  border-radius: 50%;
  padding: var(--spacing-sm);
  cursor: pointer;
}

.img {
  height: 3.25rem;
  width: 3.25rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.name {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.header time {
  font-size: var(--font-size-sm);
  color: var(--color-light-500);
}

.textarea {
  background-color: var(--color-dark-400);
  color: var(--color-light-400);
  padding: var(--spacing-sm);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: 0;
  resize: none;
}

.textarea:hover,
.textarea:focus {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.rating {
  display: flex;
  align-items: center;
  gap: 2px;
}

.ratingBtn {
  display: flex;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--color-light-500);
  font-size: var(--font-size-xl);
  cursor: pointer;
}

.ratingBtn[data-marked='true'] {
  color: hsl(52, 100%, 60%);
}
