.card {
  display: grid;
  gap: var(--spacing-sm);
  background-color: var(--color-dark-300);
  border-radius: var(--border-radius);
  padding: var(--spacing-2xl);
  text-align: start;
}

.img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-bottom: var(--spacing-lg);
}

.name {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.email {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  font-style: italic;
}

.btnGroup {
  margin-left: auto;
}

.btn {
  background-color: transparent;
  border: 0;
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-lg);
  cursor: pointer;
}

.btn:first-child {
  color: var(--color-success-400);
}

.btn:last-child {
  color: var(--color-warning-400);
}

.textarea {
  background-color: var(--color-dark-300);
  color: var(--color-light-400);
  padding: var(--spacing-sm);
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.textarea:hover,
.textarea:focus {
  outline: 0;
}

.user {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
  margin-bottom: var(--spacing-lg);
}
