.overlay {
  position: fixed;
  inset: 0;
  z-index: 5;
  opacity: 0.8;
  background-color: var(--color-dark-400);
}

.content {
  position: fixed;
  bottom: 0;
  z-index: 5;
  overflow-y: scroll;
  max-height: 95%;
  border-radius: 12px;
  background-color: var(--color-dark-500);
  padding: var(--spacing-xl);
}

.content::-webkit-scrollbar {
  display: none;
}

.modalTitle {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-lg);

  /* border: 2px solid lime; */

  /* position: sticky;
  width: 100%;
  background-color: var(--color-dark-500);
  border-radius: 12px 12px 0 0;
  top: 0; */
}

.closeBtn {
  display: grid;
  padding: var(--spacing-sm);
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: transparent;
  font-size: var(--font-size-2xl);
  color: var(--color-light-500);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.closeBtn:hover,
.closeBtn:focus {
  background-color: var(--color-dark-300);
  color: var(--color-light-300);
}

.content:focus {
  outline: none;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-xl);

  /* padding-top: var(--spacing-6xl); */
}

.form > div:first-child {
  display: grid;
  gap: var(--spacing-lg);
  align-content: start;
}

.form > div:last-child {
  display: grid;
  align-content: start;
}

.form fieldset {
  border: 0;
  display: grid;
  gap: var(--spacing-md);
}

.form label {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
}

.form input {
  color: var(--color-light-400);
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  background-color: var(--color-dark-400);
  border: 2px solid rgba(255, 255, 255, 0.15);
  width: 100%;
}

.form input:hover,
.form input:focus {
  outline: 0;
  border-color: var(--color-accent-primary-400);
}

.form fieldset:last-child > input {
  height: 10rem;
}

.form button {
  margin-top: var(--spacing-lg);
}

.message {
  color: rgba(255, 0, 0, 0.9);
  font-size: var(--font-size-sm);
}

.title {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
}

@media screen and (min-width: 48em) {
  .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 90%;
    padding: var(--spacing-3xl);
  }

  .form {
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-3xl);
  }
}
