.header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: transparent;
  transition: background-color 150ms ease-out;
}

.header[data-scrolled='true'] {
  background-color: var(--color-dark-500);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacing-md);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-family: var(--font-secondary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.logo > *:first-child {
  font-size: var(--font-size-3xl);
  color: var(--color-accent-primary-300);
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
  height: 100%;
  width: 15rem;
  padding: var(--spacing-3xl);
  background-color: var(--color-dark-400);
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}

.menu[data-visible='true'] {
  transform: translateX(0);
}

.toggle {
  position: relative;
  display: grid;
  border: 0;
  background-color: transparent;
  font-size: var(--font-size-3xl);
  color: var(--color-light-500);
}

@media screen and (min-width: 48em) {
  .navbar {
    padding-block: var(--spacing-lg);
  }

  .menu {
    position: initial;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-3xl);
    width: 100%;
    padding: 0;
    background-color: transparent;
    transform: translateX(0);
    transition: none;
  }

  .toggle {
    display: none;
  }
}
