.hero {
  position: relative;
  display: grid;
  place-content: center;
  height: 100vh;
  background-image: url('../../assets/images/hero-bg.jpg');
  background-size: cover;
  background-position: top;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--background-gradient);
}

.container {
  position: relative;
  z-index: 5;
  display: grid;
  justify-items: center;
  gap: var(--spacing-lg);
  padding-block: var(--spacing-6xl);
  text-align: center;
}

.title {
  max-width: min(35rem, 100%);
  background-image: var(--gradient);
  background-position: 0 0;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: var(--font-secondary);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  color: transparent;
  text-transform: capitalize;
}

.text {
  max-width: min(30rem, 100%);
  font-size: var(--font-size-md);
  color: var(--color-light-500);
}

.welcomeText {
  font-weight: var(--font-weight-semibold);
  color: var(--color-accent-secondary-300);
  text-transform: capitalize;
}

.btnGroup {
  display: flex;
  gap: var(--spacing-md);
  margin-block: var(--spacing-md);
}

.searchBar {
  position: relative;
  display: flex;
  max-width: calc(100% - 2rem);
  margin-top: var(--spacing-lg);
}

.searchBar > input {
  width: 100%;
  background-color: var(--color-dark-400);
  background-color: var(--color-light-500);
  padding: var(--spacing-md);
  border: 0;
  border-radius: 100vmax;
  opacity: 0.8;
}

.searchBar > input:focus,
.searchBar > input:hover {
  outline: 0;
}

.searchBar > button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-content: center;
  height: 100%;
  aspect-ratio: 1;
  border: 2px solid var(--color-accent-primary-400);
  border-radius: 50%;
  background-color: var(--color-accent-primary-400);
  font-size: var(--font-size-md);
  color: var(--color-light-400);
}

@media screen and (min-width: 48em) {
  .container {
    gap: var(--spacing-xl);
  }

  .searchBar > input {
    padding: var(--spacing-lg);
  }

  .searchBar > button {
    font-size: var(--font-size-xl);
  }

  .text {
    font-size: var(--font-size-lg);
  }

  .img {
    width: 25rem;
  }
}
