.hero {
  display: grid;
  place-content: center;
  position: relative;
  background-image: url('../../assets/images/hero-bg.jpg');
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.hero::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: var(--background-gradient);
}

.container {
  display: grid;
  justify-items: center;
  gap: var(--spacing-lg);
  position: relative;
  z-index: 5;
  padding-block: var(--spacing-6xl);
  text-align: center;
}

.title {
  font-size: clamp(2.5rem, 0.5rem + 5vw, 4rem);
  /* font-size: 4rem; */
  text-transform: capitalize;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-secondary);
  color: transparent;
  background-image: var(--gradient);
  background-position: 0 0;
  background-clip: text;
  -webkit-background-clip: text;
  max-width: min(35rem, 100%);
}

.text {
  color: var(--color-light-500);
  font-size: var(--font-size-md);
  max-width: min(30rem, 100%);
}

.welcomeText {
  font-weight: var(--font-weight-semibold);
  color: var(--color-accent-secondary-300);
  text-transform: capitalize;
}

.btnGroup {
  margin-block: var(--spacing-md);
  display: flex;
  gap: var(--spacing-md);
}

.searchBar {
  display: flex;
  position: relative;
  max-width: calc(100% - 2rem);
  margin-top: var(--spacing-lg);
}

.searchBar > input {
  border: 0;
  background-color: var(--color-dark-400);
  background-color: var(--color-light-500);
  width: 100%;
  padding: var(--spacing-md);
  border-radius: 100vmax;
  opacity: 0.8;
}

.searchBar > input:focus,
.searchBar > input:hover {
  outline: 0;
}

.searchBar > button {
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-content: center;
  height: 100%;
  aspect-ratio: 1;
  background-color: var(--color-accent-primary-400);
  color: var(--color-light-400);
  border: 2px solid var(--color-accent-primary-400);
  font-size: var(--font-size-md);
}

@media screen and (min-width: 48em) {
  .container {
    gap: var(--spacing-xl);
  }

  .searchBar > input {
    padding: var(--spacing-lg);
  }

  .searchBar > button {
    font-size: var(--font-size-xl);
  }

  .text {
    font-size: var(--font-size-lg);
  }

  .img {
    width: 25rem;
  }
}
