/* ====================
/* FORMS                */
/* ==================== */
.form {
  display: grid;
  gap: var(--spacing-xl);
  text-align: start;
}

.field {
  display: grid;
  gap: var(--spacing-md);
}

.label {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
}

.input {
  color: var(--color-light-400);
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  background-color: var(--color-dark-400);
  border: 2px solid rgba(255, 255, 255, 0.15);
}

.input:hover,
.input:focus {
  outline: 0;
  border-color: var(--color-accent-primary-400);
}

.message {
  color: rgba(255, 0, 0, 0.9);
  font-size: var(--font-size-sm);
}

.textarea {
  min-width: 100%;
  min-height: 10rem;
  background-color: var(--color-dark-400);
  color: var(--color-light-400);
  border-radius: var(--border-radius);
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: var(--spacing-lg);
  margin-block: var(--spacing-xl);
}

.textarea:focus,
.textarea:hover {
  border-color: var(--color-accent-primary-400);
  outline: 0;
}

.picture {
  background-color: var(--color-dark-300);
  font-size: var(--font-size-4xl);
  display: grid;
  place-items: center;
  width: max-content;
  border-radius: 50%;
  padding: var(--spacing-lg);
  margin-inline: auto;
}

.imgUpload {
  position: relative;
}

.imgUpload > input[type='file']::-webkit-file-upload-button {
  display: none;
}

.imgUpload > input[type='file'] {
  position: absolute;
  top: 0;
  right: 50%;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  transform: translateX(50%);
  opacity: 0;
  cursor: pointer;
}

.imgPreview {
  width: 8rem;
  height: 8rem;
  margin-inline: auto;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}
